
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #ddd;
}

button {
    transition: transform 0.9s ease;
}

button:hover {
    transform: rotate(90deg) scale(1.2) translate(20px, 20px);
}

/* хедер */

nav {
    display: inline-table;
    position: absolute;
    right: 30%;
}
  
nav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    border-radius: 5px;
    margin-right: 5px;
}  

/* Збереження та поліпшення здоров'я */

h2 + img {
    width: 700px;
    height: 300px;
}

/* Екстрене втручання */

#emergency-intervention p > span {
    color: green;
}

#emergency-intervention span::before {
    content: "Помічниками в критичних ситуаціях є екстрені медичні послуги.";
}

#emergency-intervention img {
    filter: brightness(50%);
}

/* Послуги, які ми надаємо */

table td:last-child {
    font-weight: bold;
}

/* Персональна інформація */

#personal-info h3 {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

/* Освіта */

#education {
    float: left;
    margin-right: 150px;
}

/* футер */

footer {
    background: linear-gradient(to bottom, #4CAF50, #168f1c); /* Градієнтний фон */
    color: #fff;
    border-top: 2px solid #ddd; 
    padding: 20px; 
    text-align: center; 
    font-family: "Arial", sans-serif;
    box-shadow: 0px -5px 15px 0px #000;
}

/* листочок */
.falling-leaf {
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    position: absolute;
    right: 50%;
    border-radius: 50%;
    transition: transform 2s ease-in-out;
}
