@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

body {
    background-color: #E8E6E6;

    font: normal 18px 'Roboto', sans-serif;   
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 70px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

select {
    font-size: 18px;
    border: 1px solid #888282; 
    border-radius: 5px;
    padding: 8px 24px;    
    cursor: pointer;
    background-color: #E8E6E6;
}

button {
    font-size: 18px;
}

button:hover {
    background-color: #888282;
}

/* header */

header {
    display: flex;
    align-items: center;
    margin: 25px 20px 27px 25px;
}

.city-select select {
    margin: 0 570px 0 600px;
}

.fa-solid.fa-user {
    font-size: 40px;
}

.fa-solid.fa-gear {
    margin-left: 25px;
    font-size: 40px;
}

/* body */

/* прийоми та направлення */

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}

.card {
    position: relative;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 342px;
}

.head-card {
    display: flex;
    align-items: center;
}

.head-info {
    position: absolute;
    right: 75px;
}

.inform {
    text-align: left;
}

.inform span:nth-child(1) {
    color: #818181;
}

.inform span:nth-child(2) {
    position: absolute;
    right: 50px;
}

#detailed-information {
    padding: 6px 36px;
    border: 1px solid black;
    cursor: pointer;    
    border-radius: 5px;
}

.others {
    padding: 8px 36px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

/* рецепти */

.recipes-list span {
    position: absolute;
    left: 300px;
}

.recipes-list a {
    margin-left: 930px;
}

.hr-recipe {
    margin: 20px 272px;
}

/* footer */
footer {
    text-align: center; 
    margin-top: 107px;
}

footer hr {
    margin: 45px 113px;
}

.privacy {
    font-size: 14px;
}