@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

body {
    background-color: #E8E6E6;

    font: normal 20px 'Roboto', sans-serif;   
}

h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

select {
    font-size: 18px;
    border: 1px solid #888282; 
    border-radius: 5px;
    padding: 8px 24px;    
    cursor: pointer;
    background-color: #E8E6E6;
}

button {
    font-size: 18px;
    padding: 6px 36px;
    border: 1px solid black;
    cursor: pointer;    
    background-color: white;    
    border-radius: 5px;
}

button:hover {
    background-color: #888282;
}

/* header */

header {
    display: flex;
    align-items: center;
    margin: 25px 20px 27px 25px;
}

.city-select select {
    margin: 0 570px 0 600px;
}

.fa-solid.fa-user {
    font-size: 40px;
}

.fa-solid.fa-gear {
    margin-left: 25px;
    font-size: 40px;
}

/* body */

main {
    padding: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px 113px;
}

main section {
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 38px;
}

/* Особисті дані */

#personal-data {
    background-color: white;
    grid-row: 1/13;
}

#personal-data h2 {
    margin: 30px;
}

.declaration-info {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 10px 30px 10px;
}

.user-data-fields {
    display: grid;
    grid-gap: 24px;
    margin: 70px 0;
}

.user-field {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}

.user-field span {
    border-bottom: 1px solid #888282;
}

.edit {
    padding: 8px 36px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 35%;
}

/* Послуги */

#services {
    background-color: white;
    grid-row: 1/7;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.service-info {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 2fr;
}

/* Додатково */

#additionally {
    background-color: white;
    grid-row: 7/13;
}

.additionally-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.add-info {
    display: grid;
    align-items: center;
    grid-template-columns: 7fr 1fr;
}

/* значки */
main .fa-solid,
.fa-regular {
    font-size: 44px;
}

/* footer */
footer {
    text-align: center; 
    margin-top: 107px;
}

footer hr {
    margin: 45px 113px;
}

.privacy {
    font-size: 14px;
}